node_modules
coverage
dist
build
.build
.next
snippets.json
tsconfig.json

.cache
.vercel
.output

public/build
api/build

.env.local

.DS_Store

/app/styles/**/*.css

/cypress/videos
/cypress/screenshots
*.local.*

.env
.env.production
.envrc

to_dos.md